<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Silmulateur note</title>
  <link rel="stylesheet" href="../styles/legend.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link rel="icon" type="image/png" href="../images/favicon.png"/>
</head>
<body>
    
    <h1>Explication</h1>

    <div class="form">
            <div>
                <h2>Resultat Moyenne Simple</h2>
                <p>La moyenne sans les CFF.</p>
            </div>

            <div>
                <h2>Resultat Moyenne + CCF</h2>
                <p>A la différence de la moyenne simple, celle-ci comprend les CFF : Parcours de professionnalisation et Conception et maintenance de solutions informatiques et on leur attribue une note de 10.</p>
            </div>
    </div>   
</body>
</html>